.eventCard {
  display: flex;
  flex-direction: column;
  .eventCard__img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  .eventCard__title,
  .eventCard__itemCount {
    margin: 0;
    margin-left: 8px;
    font-family: var(--vkui--font_family_base);
  }
}
