.eventCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .eventCard__img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  .eventCard__title,
  .eventCard__itemCount {
    margin: 0;
    margin-left: 8px;
    font-weight: 600;
  }
  .eventCard__itemCount {
    color: var(--vkui--color_text_accent);
    font-weight: 500;
  }
}
