.profileHome {
  display: flex;
  flex-direction: column;
  .profileHome__user {
    display: flex;
    gap: 12px;
    * {
      margin: 0;
    }
    .profileHome__user_data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .profileHome__user_data-wallet {
        @extend %text-accent;
        font-size: 14px;
      }
    }
  }
  .profileHome__createEvent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .profileHome__floatingButton {
    position: absolute;
  }
  .profileHome__tickets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}
